h1{
    color:darkblue;
    font-size:60px
}

body {
    background:#DCDCDC
}

label {
    color:darkblue;
    font-size:20px
}

h3{
    color:purple;
    font-size:40px

}
#demo{
    color:darkblue
    font-size:20px
}