{% extends 'base.html' %}
{% block content%}
    <h3 align="center"> Suggest A Book </h3>
    <br/><br/>
    <div class="container-fluid">
        <form method= "POST" enctype="multipart/form-data>
        {{ form.hidden_tag() }}
        {{ form.Name.label (class="form-label", id="label")}}
        {{ form.Name(class="form-control") }}
        {{ form.Author.label (class="form-label", id="label")}}
        {{ form.Author(class="form-control") }}
        {{ form.About.label (class="form-label", id="label")}}
        {{ form.About(class="form-control") }}
        </br>
        {{ form.Submit(class="btn btn-dark mb-3") }}
    </div>
                    {{ ckeditor.load(pkg_type="standard")}}
                    {{ ckeditor.config(name='About')}}
{% endblock %}