{% extends 'base.html' %}
{% block content%}
<form method = 'POST' enctype='multipart/form-data'>
      <div class="container-fluid">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">Update Form</h5>
                {{ form.hidden_tag() }}
                {{ form.Bookname.label (class="form-label", id="label")}}
                {{ form.Bookname(class="form-control", value=book.name) }}
                {{ form.Author.label (class="form-label", id="label")}}
                {{ form.Author(class="form-control",value=book.author) }}
                {{ form.About.label (class="form-label", id="label")}}
                {{ form.About(class="form-control",value=book.about) }}
                {{ form.Pic.label (class="form-label", id="label")}}
                {{ form.Pic(class="form-control, value=book.pic") }}
                <div class="field">
                {{ form.Read(form='updatebook') }}
                {{ form.Read.label}}
                </div>
                <br/>
                {{form.Submit(class="btn btn-dark mb-3")}}
          </div>
        </div>
      </div>
    </form>

{% endblock %}